<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiWell.OrderLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="OrderAPISoap" maxReceivedMessageSize="1000000" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://api.securefreedom.com/biwell/Webservice/OrderAPI.asmx" binding="basicHttpsBinding" bindingConfiguration="OrderAPISoap" contract="ByDesignOrderApi.OrderAPISoap" name="OrderAPISoap" />
    </client>
  </system.serviceModel>
  <userSettings>
    <BiWell.OrderLoader.Properties.Settings>
      <setting name="ByDesignApiUser" serializeAs="String">
        <value>AlexeyInkuev</value>
      </setting>
      <setting name="ByDesignApiPassword" serializeAs="String">
        <value>Moll35$#</value>
      </setting>
      <setting name="Freedom_RecentPeriodType" serializeAs="String">
        <value>month</value>
      </setting>
      <setting name="Freedom_RecentPeriodLength" serializeAs="String">
        <value>1</value>
      </setting>
    </BiWell.OrderLoader.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="BiWellEntities" connectionString="metadata=res://*/BiWellData.csdl|res://*/BiWellData.ssdl|res://*/BiWellData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RUFRW-ASAV\SQLEXPRESS;initial catalog=BiWell;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>