<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderAPISoap">
                    <security mode="Transport" />
                </binding>
                <binding name="OrderAPISoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.securefreedom.com/biwell/Webservice/OrderAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderAPISoap"
                contract="ByDesignWebService.OrderAPISoap" name="OrderAPISoap" />
        </client>
    </system.serviceModel>
</configuration>